/* profile */
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.profile h3{
    color: var(--primary-color);
}

/* profileWrapper */
.profileWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin-bottom: 50px;
}

/* profileHeader */
.profileHeader h2{
    font-size: 43px;
    margin-bottom: 0;
}

/* imageWrapper */
.imageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
}

.imageWrapper img{
    max-width: 160%;
    max-height: 160%;
    transform: translate(-20px);
}

/* techStack */
.techStack{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 600px;
    gap: 30px;
}

.techStack img{
    width: 50px;
    height: 50px;
}

@media (max-width: 480px){
    /* profileWrapper */
    .profileWrapper{
        flex-direction: column-reverse;
        text-align: center;
        padding: 0 10px;
    }

    .profileHeader h2{
        margin-top: 10px;
    }

    /* techStack */
    .techStack{
        display: grid;
        grid-template-columns: 100px 50px 50px;
        grid-template-rows: 50px 50px;
        justify-content: center;
        align-items: center;
    }

    .techStack h3{
        grid-row: 1/3;
    }
}