/* profileWrapper */
.profileWrapper{
    display: flex;
    align-items: center;
}

/* profileHeader */
.profileHeader{
    
}

/* imageWrapper */
.imageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    max-height: 250px;
    border: 2px solid black;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

