/* profile */
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.profile h3{
    color: var(--primary-color);
}

/* profileWrapper */
.profileWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin-bottom: 50px;
}

/* profileHeader */
.profileHeader h2{
    font-size: 43px;
    margin-bottom: 0;
}

/* imageWrapper */
.imageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
}

.imageWrapper img{
    max-width: 160%;
    max-height: 160%;
    transform: translate(-20px);
}

/* techStack */
.techStack{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 600px;
    gap: 30px;
}

.techStack img{
    width: 50px;
    height: 50px;
}
