/* profile */
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

/* profileWrapper */
.profileWrapper{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin-bottom: 50px;
}

/* profileHeader */
.profileHeader h2{
    font-size: 43px;
    margin-bottom: 0;
}

.profileHeader p{
    font-size: 15px;
    color: var(--gray-text);
}

/* imageWrapper */
.imageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    max-width: 200px;
    max-height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

/* techStack */
.techStack{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 600px;
    gap: 30px;
}

.techStack img{
    width: 50px;
    height: 50px;
}
