/* item */
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
}

/* itemImage */
.itemImage{
    --image-scroll: 0px;
    max-width: 400px;
    max-height: 300px;
    overflow: hidden;
}

.projectImage{
    width: 100%;
    max-width: 400px;
    transition: all 8s;
}

.projectImage:hover{
    transform: translate(0,var(--image-scroll));
}

/* itemText */
.itemText{
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    width: 30%;
}

/* techStack */
.techStack{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* externalLinks */
.externalLinks{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* demoLink */
.demoLink{
    display: flex;
    justify-content: center;
    align-items: center;
}

.demoLink h4{
    margin: 0;
    color: var(--primary-color);
}

@media (max-width: 768px){
    /* item */
    .item{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 400px;
        max-height: 1000px;
    }

    /* itemText */
    .itemText{
        width: 100%;
    }
}