/* item */
.item{
    display: flex;
    flex-direction: row;
    max-height: 400px;
    margin: 50px 0;
}

/* itemImage */
.itemImage{
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
    object-fit: cover;
}

.itemImage img{
    max-width: 400px;
}

/* itemText */
.itemText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
}

/* techStack */
.techStack{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* externalLinks */
.externalLinks{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* demoLink */
.demoLink{
    display: flex;
    justify-content: center;
    align-items: center;
}

.demoLink h4{
    margin: 0;
    color: var(--primary-color);
}

@media (max-width: 768px){
    /* externalLinks */
    .externalLinks{
        flex-direction: column;
    }

    /* itemImage */
    .itemImage{
        margin: 10px;
    }
}