/* about */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1000px;
    overflow: hidden;
}

/* aboutWrapper */
.aboutWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    max-height: 400px;
}

/* aboutText */
.aboutText{
    max-width: 400px;
}

/* aboutImage */
.aboutImage{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}


