/* contact */
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    height: 400px;
    margin: auto;
}

/* email */
.email{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
}

.email img{
    box-sizing: border-box;
    grid-row: 1/3;
    max-width: 100%;
    height: 100%;
    padding-right: 15px;
}