/* contact */
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
}

/* email */
.email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.email h3{
    margin-top: 0;
}

.email p{
    margin: 0;
}

/* icon */
.icon{
    width: 100px;
    height: 50px;
    margin-left: 10px;
}

.icon img{
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 768px) {
    .contact{
        justify-content: flex-start;
        padding: 15px;
    }
}