#root{
    --gray-text: rgb(134, 131, 131);
    --primary-color: #27005D;
    --secondary-color: #9400FF;
    --third-color: #AED2FF;
    --fourth-color: #E4F1FF;
    position: relative;
    padding-bottom: 200px;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

p{
    color: var(--gray-text);
    font-size: 15px;
}