#root{
    --gray-text: rgb(134, 131, 131);
    --primary-color: #900C3F;
    --secondary-color: #C70039;
    --third-color: #F94C10;
    --fourth-color: #F8DE22;
    position: relative;
    padding-bottom: 200px;
    color: var(--primary-color);
    background-color: var(--fourth-color);
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h3{
    color: var(--third-color);
}

a{
    text-decoration: none;
}

p{
    color: var(--secondary-color);
    font-size: 15px;
}