/* nav */
nav{
    position: fixed;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
}

/* pageNavigation */
.pageNavigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 500px;
    font-weight: 700;
}

.pageNavigation button{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-bottom: 2px solid var(--primary-color);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.pageNavigation button:hover{
    cursor: pointer;
    border-bottom: 2px solid var(--secondary-color);
}