/* nav */
nav{
    position: fixed;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: white;
}

/* pageNavigation */
.pageNavigation{
    display: flex;
    flex-direction: row;
    gap: 10px;
}